[Unit]
Description=Matter Bridge
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/chip-bridge-app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
